footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: url("./img/bg-with.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

p{
  color: white;
}